.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.btn {
    padding: 0.1rem .5rem ;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    border: 2px  solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 1s ease;
}
 
.btn-primary {
    background-color: var(--primary);
    color: var(--secondary);
}


.btn-primary:hover {
    background:transparent;
    border-color: var(--primary);
    color: var(--primary);
}

.btn-secondary {
    background: transparent;
    color: var(--primary);
    border:  var(--primary);
    font-family: sans-serif;
    border: 1px solid;
    font-size: 22px;
    padding: 18px 18px;
    transition: all 3s ease;
}

.btn-secondary:hover {
    background:var(--primary);
    color:black;
    border-radius: 33px;
}

.flex-1 {
    flex:1.2;
}

.justify-center {
     justify-content: center;
}

